{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css'%}" />
    <title>Document</title>

</head>
<body>
    <div class="center">
        <h2>Feel free to search and browse through your database :)</h2>
    </div>
    <div class="main">
        <form method="get" action="/get_query">
        <input type="text" name="search_string" placeholder="Search..." id="search_string">
        <button type="submit">SEARCH</button>
        </form> 
    </div>
    
</body>
</html>